td {
  border: 1px solid #000000;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #FFFFFF;
}
.x {
  font-size: 50px;
}
.o {
  font-size: 50px;
}
body {
  font-family: 'Helvetica' sans-serif;
  margin-left: 20px;
  background-image: url('../media/congruent_outline.png');
}
#start {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 20px;
}
.win {
  background-color: tomato;
  color: #FFFFFF;
}
h1 {
  color: #FFFFFF;
  font-size: 50px;
}
